<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var jsonRes = {{{jsonRes}}};

        $(function () {
            if (jsonRes.errors) {
                $('body').append(
                        $('<div>' + jsonRes.errors[0].message + '"> </div>'));
            } else {
                jsonRes.forEach(list => $('body').append(
                        $('<div>' + list.name + '</div>')));
            }
        });
    </script>
</head>
<body>
</body>
</html>