<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var jsonRes = {{{jsonRes}}};
    </script>
    <script type="text/ecmascript-6">
        $(function () {
            jsonRes.users.forEach(user => $('body').append(
                    $('<div>' + user.name + ' <img src="' + user.profile_image_url + '"> </div>')));
        });
    </script>
</head>
<body>
</body>
</html>